<table class="table">
    <thead>
    <tr>
        <th scope="col">
            Extra small
        </th>
        <th scope="col">
            Small
        </th>
        <th scope="col">
            Small
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>540px</td>
        <td class="text-muted">100%</td>
        <td>540px</td>

    </tr>
    <tr>
        <td>540px</td>
        <td class="text-muted">100%</td>
        <td>540px</td>

    </tr>
    </tbody>
</table>