<form action="/off" method="post" enctype="application/x-www-form-urlencoded">

    <div class="form-group">
        <label for="pin">Podaj pin</label>
        <input type="password" class="form-control" id="pin" name="pin" placeholder="pin">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>


</form>